<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/stylev3.css">
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TJ87R83');
  </script>
  <title>Spandiv | Software Solutions</title>
</head>

<body>
<div id="app">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJ87R83"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-lg-3">
      <div class="container">
        <a class="navbar-brand" href="#" style="font-family: 'Pacifico', cursive; font-size: 1.5rem">/. Spandiv</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-product">Produk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tentang</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Acara
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="icon-wrap"><img src="assets/img/icon/price-tag.svg" alt="icon" width="35"></div>
                  <div>
                    <p class="fw-bold">Promo & Diskon Spesial</p>
                    <p class="text-muted small">Promo spesial hosting & domain</p>
                  </div>
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="icon-wrap"><img src="assets/img/icon/calendar.svg" alt="icon" width="35"></div>
                  <div>
                    <p class="fw-bold">Spandiv Event</p>
                    <p class="text-muted small">Insight terhangat oleh para pakar</p>
                  </div>
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="icon-wrap"><img src="assets/img/icon/newspaper.svg" alt="icon" width="35"></div>
                  <div>
                    <p class="fw-bold">Blog</p>
                    <p class="text-muted small">Tips & trik menarik dari Spandiv</p>
                  </div>
                </a></li>
              </ul>
            </li>
          </ul>
          <a class="btn btn-primary rounded-3 px-3 fw-bold" href="https://wa.me/+62895359771137?text=Saya%20ingin%20memesan%20website%20" target="_blank">Pesan Sekarang</a>
        </div>
      </div>
    </nav>
    
    <section class="section-hero">
      <div class="wrapper h-100 text-white">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-lg-6">
              <h1 class="fw-bold">Praktis Buat Website Bisnis dengan Fitur Lengkap</h1>
              <p>Temukan lebih banyak kebebasan untuk membuat, mendesain, mengelola, dan mengembangkan website persis seperti yang Anda inginkan. Langsung siap pakai!</p>
              <a class="btn btn-secondary rounded-3 px-4 py-2 fw-bold shadow" href="#section-product">Lihat Penawaran</a>
            </div>
            <div class="col-lg-6"></div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section-socialmedia">
      <div class="container">
        <div class="wrapper d-flex py-4 px-5 shadow bg-white w-fit rounded-2 float-end position-relative" style="top: -2rem;">
          <p class="fw-bold me-3 mb-0">Facebook</p>
          <p class="fw-bold me-3 mb-0">Instagram</p>
          <p class="fw-bold me-3 mb-0">Github</p>
          <p class="fw-bold mb-0">Dribbble</p>
        </div>
      </div>
    </section>
    
    <section class="section-info">
      <div class="container">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6">
            <h1 class="fw-bold">Bebas dan Fleksibel Buat Website di Spandiv!</h1>
            <p>Bangun website berkualitas tinggi untuk segala kebutuhan online Anda. Baik untuk mempromosikan bisnis, memamerkan karya, membuka toko, atau memulai blog. Mulai kesuksesan online Anda melalui layanan Buat Website dari Spandiv dengan berbagai pilihan tema siap pakai.</p>
            <a class="btn btn-secondary rounded-3 px-4 py-2 fw-bold shadow" href="#section-product">Mulai Sekarang</a>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section-product" id="section-product">
      <div class="container" id="ourProduct" v-cloak>
        <h1 class="fw-bold text-center">Pilihan Paket Buat Website</h1>
        <ul class="nav nav-pills justify-content-center bg-primary-s w-fit my-5 p-3 mx-auto rounded-4" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link px-5 rounded-3 fw-bold active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Website Instan</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link px-5 rounded-3 fw-bold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Jasa Pembuatan Website</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              <div
              class="col-xxl-3 col-lg-4 col-md-6 mb-4"
              v-for="item in homeSort(items.data[0].client)" v-if="item.category != '5' && '6' ">
                <div class="card border-0 shadow-s rounded-2">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="product" :style="{backgroundImage:`url(${item.src})`}" style="background-repeat: no-repeat; height: 200px; width: 100%; background-size:cover; border-radius: 1rem 1rem 0 0;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col text-start">
                        <p class="mb-0 fw-bold text-truncate">{{item.name}}</p>
                        <span v-for="itemss in items.data[0].categoryList" v-if="itemss.idCategory == item.category">
                          <p class="mb-0 text-muted">{{itemss.categoryName}}</p>
                          <h4 class="mb-0 fw-bold text-primary">Rp{{itemss.categoryPrice}}</h4>
                        </span>
                      </div>
                    </div>
                    <hr>
                    <p>{{item.description}}</p>
                    <div class="text-center">
                      <a class="btn btn-primary-s fw-bold rounded-3 px-4 mb-3" :href="item.url" target="_blank">Lihat Langsung</a>
                      <a class="btn btn-primary fw-bold rounded-3 px-4"
                      v-for="itemss in items.data[0].categoryList" v-if="itemss.idCategory == item.category"
                      :href="'https://wa.me/+62895359771137?text=Saya%20ingin%20memesan%20website%20'+itemss.categoryName">Pesan Sekarang</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row" v-cloak>
              <div
              class="col-xxl-3 col-lg-4 col-md-6 mb-4"
              v-for="item in homeSort(items.data[0].client)" v-if="item.category == '5' && '6' ">
                <div class="card border-0 shadow-s rounded-2">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="product" :style="{backgroundImage:`url(${item.src})`}" style="background-repeat: no-repeat; height: 200px; width: 100%; background-size:cover; border-radius: 1rem 1rem 0 0;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col text-start">
                        <p class="mb-0 fw-bold text-truncate">{{item.name}}</p>
                        <span v-for="itemss in items.data[0].categoryList" v-if="itemss.idCategory == item.category">
                          <p class="mb-0 text-muted">{{itemss.categoryName}}</p>
                          <small v-if="itemss.idCategory == '5' && '6' " class="badge" style="background-color: var(--green-s); color: var(--bs-success);">Start From</small>
                          <h4 class="mb-0 fw-bold text-primary">Rp{{itemss.categoryPrice}}</h4>
                        </span>
                      </div>
                    </div>
                    <hr>
                    <p>{{item.description}}</p>
                    <div class="text-center">
                      <a class="btn btn-primary-s fw-bold rounded-3 px-4 mb-3" :href="item.url" target="_blank">Lihat Langsung</a>
                      <a class="btn btn-primary fw-bold rounded-3 px-4"
                      v-for="itemss in items.data[0].categoryList" v-if="itemss.idCategory == item.category"
                      :href="'https://wa.me/+62895359771137?text=Saya%20ingin%20memesan%20website%20'+itemss.categoryName">Pesan Sekarang</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary rounded-3 px-4 py-2 fw-bold shadow">Lihat Lebih Banyak</button>
        </div>
      </div>
    </section>    
    
    <section class="section-survey">
      <div class="container bg-primary-gradient rounded-3">
        <div class="row text-white p-5">
          <div class="col-lg-6">
            <h1 class="fw-bold">Belum Menemukan Tema Website yang Anda Inginkan?</h1>
            <p>Bantu kami untuk melengkapi koleksi Tema dari Web Instant kami melalui form berikut ini.</p>
            <button class="btn btn-secondary rounded-3 px-4 py-2 fw-bold shadow">Ikuti Survey</button>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </section>
    
    <section class="section-tutorial d-none">
      <div class="bg-primary-s py-5">
        <div class="container">
          <h1 class="fw-bold text-center">Langkah Mudah Membuat Website</h1>
          <ul class="nav nav-pills justify-content-center bg-secondary-s w-fit my-5 p-3 mx-auto rounded-4" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link px-5 rounded-3 fw-bold active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Website Instan</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link px-5 rounded-3 fw-bold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Jasa Pembuatan Website</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <h1>Comingsoon</h1>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="text-center">
                <h1>Comingsoon</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section-fitur">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-9">
            <h1 class="fw-bold text-center mb-4">Fitur Terbaik untuk Mendukung Pembuatan Website dengan Tampilan Profesional</h1>
            <p class="text-center">Nikmati fitur terbaik & terlengkap untuk membuat website Anda sendiri di Spandiv. Temukan juga berbagai pilihan tema website yang dapat disesuaikan dengan kebutuhan bisnis Anda.</p>
          </div>
        </div>  
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card rounded-2">
              <div class="card-body">
                <i class="bi bi-hdd-rack h1"></i>
                <h5 class="fw-bold my-3">Gratis Hosting & Domain</h5>
                <p>Website langsung siap pakai, paket pembuatan website sudah termasuk gratis layanan hosting & domain.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card rounded-2">
              <div class="card-body">
                <i class="bi bi-shield-check h1"></i>
                <h5 class="fw-bold my-3">Gratis SSL Unlimited</h5>
                <p>Dapatkan sertifikat SSL dengan durasi unlimited untuk meningkatkan keamanan & kredibilitas website Anda.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card rounded-2">
              <div class="card-body">
                <i class="bi bi-envelope-open h1"></i>
                <h5 class="fw-bold my-3">Integrasi Email Profesional</h5>
                <p>Anda dapat menggunakan email profesional seperti nama@website.com dan tambah akun dengan Mail Hosting.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card rounded-2">
              <div class="card-body">
                <i class="bi bi-phone h1"></i>
                <h5 class="fw-bold my-3">Mobile Optimized</h5>
                <p>Website dapat diakses secara optimal melalui berbagai jenis perangkat. Tampilan website jadi lebih maksimal.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card rounded-2">
              <div class="card-body">
                <i class="bi bi-search h1"></i>
                <h5 class="fw-bold my-3">SEO-Friendly</h5>
                <p>Anda dapat membuat website Anda berada di peringkat atas Google karena dirancang khusus untuk ramah SEO.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card rounded-2">
              <div class="card-body">
                <i class="bi bi-stars h1"></i>
                <h5 class="fw-bold my-3">Layanan Support</h5>
                <p>Website yang Anda pilih telah memiliki tutorial dan dukungan teknis untuk pengelolaan lebih mudah dan lancar.</p>
              </div>
            </div>
          </div>
        </div>  
      </div>  
    </section>
    
    <section class="section-mengapa">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <h1 class="text-center fw-bold mb-4">Mengapa Membuat Website di Spandiv?</h1>
            <p class="text-center mb-5 pb-4">Dapatkan lebih banyak kebebasan mengelola website yang Anda buat sendiri dengan fitur terlengkap dan terintegrasi saat Buat Website di Spandiv. Mulai kesuksesan online Anda sekarang juga!</p>
          </div>
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
              <div class="card rounded-3 text-center border-0">
                <div class="card-body pt-0">
                  <div class="bg-white w-fit mx-auto p-3 rounded-3 position-relative shadow-sm" style="top: -2rem"><img src="assets/img/icon/online-support.svg" alt="icon" width="80"></div>
                  <div>
                    <h5 class="fw-bold">Support 24/7</h5>
                    <p class="mb-0">Website online tanpa rasa khawatir. Hubungi bantuan teknis 24 jam di mana saja dan kapan saja secara real-time!</p>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
              <div class="card rounded-3 text-center border-0">
                <div class="card-body pt-0">
                  <div class="bg-white w-fit mx-auto p-3 rounded-3 position-relative shadow-sm" style="top: -2rem"><img src="assets/img/icon/backup.svg" alt="icon" width="80"></div>
                  <div>
                    <h5 class="fw-bold">Fully Managed Service</h5>
                    <p class="mb-0">Didukung dengan server yang kuat & aman, sumber daya besar dan berbagai fitur optimasi: auto-backup, auto-patch, & auto-installer.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
              <div class="card rounded-3 text-center border-0">
                <div class="card-body pt-0">
                  <div class="bg-white w-fit mx-auto p-3 rounded-3 position-relative shadow-sm" style="top: -2rem"><img src="assets/img/icon/rating.svg" alt="icon" width="80"></div>
                  <div>
                    <h5 class="fw-bold">Buat dan Kelola Website dengan Mudah</h5>
                    <p class="mb-0">Tersedia berbagai pilihan tema siap pakai dan bantuan dari tim Spandiv untuk membantu pengelolaan website, bahkan untuk pemula.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
              <div class="card rounded-3 text-center border-0">
                <div class="card-body pt-0">
                  <div class="bg-white w-fit mx-auto p-3 rounded-3 position-relative shadow-sm" style="top: -2rem"><img src="assets/img/icon/speed.svg" alt="icon" width="80"></div>
                  <div>
                    <h5 class="fw-bold">WordPress Optimized</h5>
                    <p class="mb-0">Tersedia WP Management untuk membantu pengelolaan website dengan fitur unggulan dari WordPress, seperti WP Accelerator.</p>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
              <div class="card rounded-3 text-center border-0">
                <div class="card-body pt-0">
                  <div class="bg-white w-fit mx-auto p-3 rounded-3 position-relative shadow-sm" style="top: -2rem"><img src="assets/img/icon/bug.svg" alt="icon" width="80"></div>
                  <div>
                    <h5 class="fw-bold">Website Aman dari Malware dan Hacker</h5>
                    <p class="mb-0">Sistem keamanan terbaik menggunakan Imunify360 akan melindungi website Anda dari serangan DDoS dan Malware.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
              <div class="card rounded-3 text-center border-0">
                <div class="card-body pt-0">
                  <div class="bg-white w-fit mx-auto p-3 rounded-3 position-relative shadow-sm" style="top: -2rem"><img src="assets/img/icon/maintenance.svg" alt="icon" width="80"></div>
                  <div>
                    <h5 class="fw-bold">cPanel</h5>
                    <p class="mb-0">Dukungan panel kontrol terbaik dan terlengkap di dunia menjamin kemudahan pengelolaan website Anda.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section-cta">
      <div class="bg-primary-gradient p-5">
        <div class="container">
          <div class="row text-white text-center justify-content-center">
            <div class="col-lg-9">
              <h1 class="fw-bold mb-4">Awali Kesuksesan Anda Bersama Spandiv</h1>
              <p class="mb-4">Kini tidak lagi sulit mewujudkan website impian. Performa hebat, keamanan ekstra, dan layanan dukungan teknis yang bisa diandalkan - semua dengan harga terjangkau!</p>
              <button class="btn btn-secondary rounded-3 px-4 py-2 fw-bold shadow">Mulai Sekarang</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="bg-primary-gradient">
      <footer>
        <div class="container py-5">
          <div class="d-flex justify-content-between">
            <p class="mb-0 text-white small">Copyright ©2021 /. Spandiv | Bikin website murah hanya di Spandiv</p>
            <a href="#" class="mb-0 text-white small">Kebijakan Privasi</a>
          </div>
        </div>
      </footer>    
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/js/appv3.js"></script>
</body>

</html>